extends base.pug

block content
  .col-md-4.offset-md-4
    // TEMP: ALERT
    .card
      .card-header
        | Sign in
      .card-body
        form(action='' method='post')
          .form-outline.mb-4
            label.form-label(for='username') Username
            input.form-control(type='text' name='username' placeholder='Enter your username' required='' maxlength='255')
          .form-outline.mb-4
            label.form-label(for='password') Password
            input.form-control(type='password' name='password' placeholder='Enter your password' required='' maxlength='255')
          .d-flex.justify-content-end
            a.me-2.btn.btn-link(href="/signup") Sign up
            input.btn.btn-primary(type='submit' value='Sign in')